{% extends '@App/base.html.twig' %}
{% block body %}
    <div id="post-body">
        <form action="{{ url('post_new') }}" method="post">
            <button type="submit" class="btn btn-primary">New</button>
        </form>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">{% trans %}id{% endtrans %}</th>
                <th scope="col">{% trans %}title{% endtrans %}</th>
                <th scope="col">{% trans %}description{% endtrans %}</th>
                <th scope="col">{% trans %}slug{% endtrans %}</th>
                <th scope="col">{% trans %}author{% endtrans %}</th>
                {% if useActions == true %}
                    <th scope="col">{% trans %}postAt{% endtrans %}</th>
                    <th scope="col">{% trans %}actions{% endtrans %}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <th scope="row">{{ post.id }}</th>
                    <td><a href="{{ url('post_show', {id: post.id}) }}">{{ post.title }}</a></td>
                    <td>{{ post.description }}</td>
                    <td>{{ post.slug }}</td>
                    <td>{{ post.author.firstName }} {{ post.author.surname }}</td>
                    {% if useActions == true %}
                        <td>{{ post.postAt|date('Y-m-d') }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="{{ url('post_edit', {id: post.id}) }}">
                                    <button type="button" class="btn btn-secondary">{% trans %}edit{% endtrans %}</button>
                                </a>
                                <form method="post" action="{{ url('post_delete', {id: post.id}) }}">
                                    <button type="submit" class="btn btn-secondary">{% trans %}delete{% endtrans %}</button>
                                </form>
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}